body {
    padding-top: 4.5rem;
    height: 100%;
}
main {
    padding-left: 15px;
    padding-right: 15px;
}
footer {
    background-color: #ffffff;
}
.footerContainer {
    background-color: rgb(194, 194, 194);
}
.btn-consulta {
    margin-right: 2%;
}